@media only screen and (min-width: 38rem){
    .hover:hover {
        box-shadow: 0 0 50px #333; 
    }
    .rocorn:hover {
        border-radius: 15px 150px;
    }
    .opac:hover {
        opacity: .5;
    }
    .blur:hover {
        filter: blur(4px);
    }

    .gray:hover {
        filter: blur(1px) grayscale(50%);
    }

    .contrast:hover {
        filter: contrast(50%);
    }
}
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .form-container,
    .membership-benefits {
        width: 50%;
    }
    footer {
    position: relative;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
}


@media screen and (min-width: 768px) {
    .membership-benefits {

        width: 50%;
    }
    .form-container {
        width: 50%;
    }
    footer {
        position: relative;
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        width: 100%;
    }
}